.sidebar {
  width: 520px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  padding: 10px;
  border: none;
  font-size: 20px;
  background-color: #25d366;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

.sidebar .header {
  padding: 10px;
  background-color: #128c7e;
  color: white;
  font-weight: bold;
}
